{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Description{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

{% include "inventoryapp/navbar.html" %}
<br><br>
<div class="container">
    {% if product %}
    <div class="row">
        <div class="">
            <h1>PRODUCT DETAILS</h1>
            <div  style="width: 100%;">
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Product ID:</strong> {{ product.ProductID }}</p>
                        <p><strong>Description:</strong> {{ product.ProductDesc }}</p>
                        <p><strong>Brand:</strong> {{ product.ProductBrand }}</p>
                        <p><strong>MRP:</strong> {{ product.ProductMRP }}</p>
                        <p><strong>Purchase Price:</strong> {{ product.ProductPurchasePrice }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>UPDATE PRODUCT</h1>
            <div class="card">
                <div class="card-body">
                    <form method=post name="f2">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name="description" value="{{ product.ProductDesc }}">
                        </div>
                        <div class="mb-3">
                            <label for="brand" class="form-label">Brand:</label>
                            <input type="text" class="form-control" id="brand" name="brand" value="{{ product.ProductBrand }}">
                        </div>
                        <div class="mb-3">
                            <label for="mrp" class="form-label">MRP:</label>
                            <input type="text" class="form-control" id="mrp" name="mrp" value="{{ product.ProductMRP }}">
                        </div>
                        <div class="mb-3">
                            <label for="purchase_price" class="form-label">Purchase Price:</label>
                            <input type="text" class="form-control" id="purchase_price" name="purchase_price" value="{{ product.ProductPurchasePrice }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <input type="hidden" id="updateID" name="operation" value="update" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>DELETE PRODUCT</h1>
            <div class="card">
                <div class="card-body">
                    <p>Are you sure you want to delete this product?</p>
                    <form method="POST" name="f3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <input type="hidden" id="deleteID" name="operation" value="delete" />
                    </form>
                </div>
            </div><br>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        No product details available.
    </div>
    {% endif %}
</div>

</body>
</html>
